.top-bar .toggle-topbar.menu-icon a {
    height: 34px;
    line-height: 50px;
    padding: 0;
    padding-right: 30px;
    color: #FFF;
    position: relative;
}

.top-bar .toggle-topbar.menu-icon a::after {
    box-shadow: 0 6px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
    -webkit-box-shadow: 0 6px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
    display: block;
    height: 2px;
    right: 0px;
    position: absolute;
    top: 1px;
    width: 20px;
}
.menu-text {
  font-family: "Quicksand" !important;
}
.menu-items {
  font-family: "Quicksand" !important;
  text-align: center;
  text-transform: uppercase !important;
}
.main-img {
  /*display: none;*/
}
.main-logo{
  display: none;
  background-color: #06241C;
}
body {
  background-color: #06241C;
}
.text {
  color: white;
}
.facebook{
  max-width: 33px !important;
  max-height: 33px !important;
  width: 30px !important;
  height: 33px !important;
  padding-bottom: 10% !important;
}
.instagram {
  max-width: 33px !important;
  max-height: 33px !important;
  width: 25px !important;
  height: 25px !important;
}
.soundcloud {
  max-width: 33px !important;
  max-height: 40px !important;
  width: 30px !important;
  height: 40px !important;
}
.bandsintown {
  max-width: 33px !important;
  max-height: 33px !important;
  width: 30px !important;
  height: 30px !important;
}
