.top-bar .toggle-topbar.menu-icon a {
    height: 34px;
    line-height: 50px;
    padding: 0;
    padding-right: 30px;
    color: #FFF;
    position: relative;
}

.top-bar .toggle-topbar.menu-icon a::after {
    box-shadow: 0 6px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
    -webkit-box-shadow: 0 6px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
    display: block;
    height: 2px;
    right: 0px;
    position: absolute;
    top: 1px;
    width: 20px;
}
.menu-text {
  font-family: "Quicksand" !important;
}
.menu-items {
  font-family: "Quicksand" !important;
  text-align: center;
  text-transform: uppercase !important;
}
.main-img {
  /*display: none;*/
  /*background-attachment: fixed !important;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.main-logo{
  display: none;
  background-color: white;
  margin-top: 5%;
}
body {
  /*background-color: #03231A;*/
  background: white;
}
.text {
  color: white;
}
.music-box {
  background-color: white;
}
.music-box-even {
  background-color: white;
}
.music-div ul li {
  display: inline;
}
.music-div ul {
  text-align: center;
  margin-top: 5%;
}
.music-icons {
  max-width: 33px !important;
  max-height: 33px !important;
  width: 30px !important;
  height: 33px !important;

}
ul {
  list-style-type: none;
}
h1.div-title {
  font-family: "Quicksand" !important;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5%;
}
/*h1.div-title-even {
  font-family: "Quicksand" !important;
  text-align: center;
  text-transform: uppercase;
}*/
h1.div-title:hover {
    /*background-color: #03231A;*/
    /*color: rgb(218,165,32);*/
    /*font-weight: bold;*/
    text-decoration: line-through;
    /*font-size: 50px;*/
}
/*h1.div-title-even:hover {
  backgroundcolor: white;
  color:black;
  text-decoration: line-through;
  font-size:50px;
}*/
.head-title {
  font-family: "Quicksand" !important;
  text-align: center;
  text-transform: uppercase;
}
.head-title-members {
  text-align:center;
  list-style: none;
}
hr {
  border: 0;
  width: 80%;
}
hr.smaller {
  width: 50%
}
hr.smallest {
  width: 25%
}
.album-art {
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sub-text {
  font-family: 'Open Sans Condensed', sans-serif;
  /*font-family: "Crimson Text";*/
  /*font-family: 'Old Standard TT', serif;*/
  /*font-family: Tinos;*/

}
.show-dates {
  text-align: center;
}
hr {
  border: solid black .1px;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.members-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.merch-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
.management-div {
  margin-top: 5%;
}
.mad-max {
  font-family: Open Sans Condensed;
  color: black;
}
/*div.slant-line:after{
  content:"";
  position:absolute;
  border-top:1px solid black;
  width:200px;
  transform: rotate(10deg);
  transform-origin: 0% 0%;
}*/
.me {
  color: rgb(153, 101, 21);
  font-family: Open Sans Condensed;
  float: right;
  /*margin-right: 5%;*/
}
.me:hover {
  color: white;
}
.details-div {
  color: white;
  font-family: Open Sans Condensed;
  margin-left: 5%;
}
li a .social-medias {
  text-overflow: clip;
}
.social-medias ul li {
display: inline;
}
.social-medias ul {
  text-align: center;
  margin-top: 3%;
}
.vcard {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.facebook{
  max-width: 33px !important;
  max-height: 33px !important;
  width: 30px !important;
  height: 32px !important;
  margin-bottom: 0.4%;
}
.instagram {
  max-width: 33px !important;
  max-height: 33px !important;
  width: 25px !important;
  height: 25px !important;
}
.soundcloud {
  max-width: 33px !important;
  max-height: 40px !important;
  width: 30px !important;
  height: 40px !important;
  margin-bottom: -0.7%;
}
.bandsintown {
  max-width: 33px !important;
  max-height: 33px !important;
  width: 30px !important;
  height: 30px !important;
}
footer {
  background-color: #333333;
}
